*,
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto
}

App {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto
}

.AppDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  background-image: url("./assets/LAMP Background 2-01.png");
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  min-height: 100vh;
  /*height: 100vh;*/
  width: 100vw;
  
}

.Content {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-position: stretch;
  display: flex;
  justify-content: center;
  padding: 5vh;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  
}

header h1 {
  color: #e0e0e0;
  margin-bottom: 0px;
}

h1 {
  color: rgb(54, 170, 216);
}

h2 {
  color: rgb(54, 170, 216);
  margin-bottom: 4vh;
}

h3 {
  color: orangered;
  margin-bottom: 3vh;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10vh;
}

.Tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5vh;
}

.userInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 123, 161);
  color: #e0e0e0;
}

.sequenceentry {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40wv;
  margin-bottom: 2vh;
  margin-top: 6vh;

}

.conditionentry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50wv;
  margin-bottom: 2vh;
}

.condition-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
}

.popslider {
  margin-bottom: 4px;
  width: 10vw;
}

input {
  width: 11vw;
  color: #424242;
  color: #e0e0e0;
  padding: 0.5vw;
  background-color: #cccccc;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  text-align: center;
  text-align: left;
}

.seq-form {
  padding: 0.8vh;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.seq-form input {
  display: flex;
  justify-content: center;
  width: 50vw;
  border-radius: .5vw;
  
}

label {
  color:#e0e0e0;
  margin-left: 8px;
}

.startstopbuttons {
  display: flex;
  justify-content: center;
  width: 14vw;
  margin-bottom: 8vh;
}

.Button {
  padding: 0.5vw;
}

.button {
  background-color: orangered;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1vw;
}

.output p {
  text-align: center;
}

.sequenceoutput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sequencelabels p {
  text-align: right;
  padding: 0.5wv;
}

.outsequences p {
  text-align: left;
  padding: 0.5wv;
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.About_sub {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 80%;
  padding: 4vh;
  gap: 2vw;
  border-radius: 1vw;
}

.Home_text {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 4vh;
  border-radius: 1vw;
}

.About_sub .Text {
  height: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About_sub .Text .p {
  width: 100%;
}

.Images {
  width: 50%;
  display: block;
}

.Tutorial {
  display: flex;
  flex-direction: column;
  align-items: center
}

img {
  width: 100%;
  max-height: 100%;
  
}

p {
  width: 95%;
  text-align: justify;
  text-justify: inter-word;
  color: #e0e0e0;
}
