.App {
  margin: 0 auto;
  width: 850px;
}

h1 {
  text-align: center;
  color: #666;
}

h2 {
  text-align: center;
  color: #777;
}

h3 {
  text-align: center;
  color: #777;
}

input {
  padding-right: 20px;
}

label {
  padding-left: 0px;
  padding-right: 20px;
  color: #777;
}

.conditionentry .condition-form {
  float: right;
  clear: both;
  margin-bottom: 5px;
}

.conditionentry {
  float: left;
  clear: both;
  width: 399px;
}

.sequenceentry {
  float: left;
  clear: both;
  width: 850px;
  margin-bottom: 20px;
}

.sequenceentry .seq-form {
  float: right;
  clear: both;
  margin-bottom: 5px;
}

.sequenceentry .seq-form input {
  width: 645px;
}

.startstopbuttons {
  width: 400px;
  float: left;
  clear: both;
  margin-top: 10px;
}

.startstopbuttons .startbutton {
  margin-left: 82px;
}

.startstopbuttons .stopbutton {
  margin-left: 15px;
}

.popslider {
  margin-top: 20px;
  width: 376px;
  float: left;
  clear: both;
}

.popslider .sliderlabel {
  float: left;
  clear: both;
}

.progress {
  float: right;
  clear: both;
  margin-right: 60px;
  margin-top: -190px;
}

.progress .proglabel {
  float: center;
  clear: both;
  padding: 20px;
  color: #777;
}

.progress .progindicator {
  float: left;
  clear: both;
  padding: 20px;
}

.warning {
  float: right;
  clear: both;
  width: 400px;
  text-align: center;
  margin-top: -190px;
}

.warning .warningheader {
  float: center;
  clear: both;
  color: #777;
}

.outputsequences {
  float: right;
  clear: both;
  margin-top: -230px;
  margin-right: 10px;
  width: 430px;
}

.outputsequences .sequencelabels {
  float: left;
  clear: both;
  margin-left: 30px;
  width: 70px;
}

.outputsequences .outsequences {
  float: right;
  clear: both;
  margin-top: -157px;
  margin-left: 100px;
  width:300px;
}